@import "../../style/vars";


.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;

  &__wrapper {
    background: $grey-2;
    min-width: 100px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid $grey-4;
    overflow: hidden;
    border-radius: 3px;

  }


  &__tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-4;
    width: 100%;

    &:last-child {
      border: none;
    }
  }

  &__remove {
    opacity: 0.09;
    cursor: pointer;
    margin-right: 2px;
    background: rgb(218, 54, 51);
    border-radius: 3px;

    &:hover {
      opacity: 1;
      background: rgb(183, 50, 47);
    }
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blue-1;
    height: 30px;
    width: 30px;
    margin: 10px;
    border: 1px solid $grey-5;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: $blue-2;
    }
  }

  &__input {
    width: 120px;
    margin-left: -10px;
  }


  &__item {
    height: auto;
    margin: 0;

    cursor: pointer;
    padding: 5px 3px;

    &:hover {
      color: $blue-1;
    }


  }

}