//---colors---//

$grey-1: #E0E9F1;
$grey-2: #AFB8BF;
$grey-3: #D8D8D8;
$grey-4: #495056;
$grey-5: #262626;
$grey-6: #2D3945;
$grey-7: #79838B;

$blue-1: #008BEA;
$blue-2: #0380D6;
$blue-3: #152835;
$blue-4: #11232F;
$blue-5: #0D3755;
$blue-6: #D8EFFF;
$blue-7: #5F7689;
$blue-8: #BCD5E9;
